:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-size: 16px;
}
.card-image {
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .card-image {
    object-fit: cover;
    height: 490px;
  }
}

@media screen and (min-width: 992px) {
  .card-image {
    object-fit: cover;
    height: 510px;
  }
}

